<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>管理画面</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${message}"></h1>
	<form method="get" action="#" th:action="@{/manager}" th:object="${manager}">
		</p><a href="" th:href="@{/chat}" target="_blank">チャットルームへ</a>


		<table>

			<tr th:each="res : ${dbList}">
				<td id="name" th:text="${res.name}">名前</td>
				<td id="comment" th:text="${res.comment}">コメント</td>
				<td>
					<form th:action="@{/comp/{id}(id=${res.id})}">
						<input type="submit" value="削除" />
					</form>
				</td>
</body>

</html>