<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>チャットルーム</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${message}"></h1>
	<form method="get" action="#" th:action="@{/chat}" th:object="${chat}">
		<p>
			<input type="text" name="name" placeholder="お名前" th:value="*{name}">
			： <input id=commentF type="text" name="comment" placeholder="コメント:500文字まで。Enterキーでも投稿できます。"
				th:value="*{comment}">

			<input type="submit" value="投稿">
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラー</div>
		<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">エラー</div>
		</p>
		</p><a href="" th:href="@{/top}" target="_blank">トップページへ</a>
		<a href="" th:href="@{/manager}" target="_blank">管理画面へ</a>

		<hr>

		<table>

			<tr th:each="res : ${dbList}">
				<td id="name" th:text="${res.name}">名前</td>
				<td id="comment" th:text="${res.comment}">コメント</td>
</body>

</html>